@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cornell-red: #b51a1b;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Young Serif", serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
